<div class="row">
<div class="page-header">
  <h1>Listado de médicos</h1>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="input-group">
                    <span class="input-group-addon">Buscar</span>
                    <input class="form-control" type="text" ng-model="searchField">
        </div>
    </div>  
</div>

<div class="row">
    <div class="col-lg-4 col-sm-4 text-center doctorItemList" ng-repeat="doc in doctors | filter:searchField">
        <a href="" class="menu-title" ng-click="loadModal(doc)"><img class="img-circle img-responsive img-center" src="http://www.clipartkid.com/images/356/blue-and-white-person-icon-png-clipart-image-iconbug-com-g7EhRd-clipart.png" style="width: 200px; height: 200px" alt=""></a>
        <h3><a href="" class="menu-title" ng-click="loadModal(doc)">{{doc.name}}</a>
            <small>{{doc.especialidad}}</small>
        </h3>
        <p>Click to view more info!</p>
    </div>
</div>
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="h4_label"><span class="glyphicon glyphicon-user"></span>Doctor</h4>
                    <img class="img-circle img-responsive img-center" src="http://www.clipartkid.com/images/356/blue-and-white-person-icon-png-clipart-image-iconbug-com-g7EhRd-clipart.png" style="width: 150px; height: 150px" alt="">
                </div>
                <!--Body-->                
                <div class="modal-body" style="padding:40px 50px;">
                    <ul class="list-group">
                        <li class="list-group-item">Nombre: {{loadedDoctor.name}}</li>
                        <li class="list-group-item">Especialidad: {{loadedDoctor.especialidad}}</li>
                        <li class="list-group-item">Consultorio: {{loadedDoctor.consultorio}}</li>
                    </ul>
                    <button type="submit" ng-click="addProductCart()" class="btn btn-info btn-block"><span class="glyphicon glyphicon-check"></span> Edit</button>
                    <button type="submit" ng-click="ctrl.deleteRecord()" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-warning-sign"></span> Delete</button>
                    <!--</form>-->
                </div>
                <!--Footer-->
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
</div>
        
</div>