.createDoctorForm{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.img-center {
	margin: 0 auto;
}
footer {
    text-align: center;
    margin-top: 150px;
    padding: 20px;
    border-top: 1px solid #ddd;
}
/*----- MODAL -----*/
.modal-header, .h4_label, .close {
    /*background-color: #4fc8ee;*/
    color:black !important;
    text-align: center;
    font-size: 34px;
}
.modal-footer {
    /*background-color: #4fc8ee;*/
}
.checkBoxLbl{
    margin-right: 12px;
}
.optionCheckBox{
    text-decoration: overline;
    font-size: 60px;
}

.doctorItemList{
    margin-top: 20px;
}

/*TABLE*/

.myTable body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.myTable div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.myTable .table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.myTable .table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
.myTable th {
  color:#D5DDE5;;
  background:#3e94ec;
  border-bottom:4px solid #c7ccd1;
  border-right: 1px solid #b6bdc8;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.myTable th:first-child {
  border-top-left-radius:3px;
}
 
.myTable th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.myTable tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#1a0d00;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.myTable tr:hover td {
  background:#80b3ff;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
.myTable tr:first-child {
  border-top:none;
}

.myTable tr:last-child {
  border-bottom:none;
}
 
.myTable tr:nth-child(odd) td {
  background:#e6f5ff;
}
 
.myTable tr:nth-child(odd):hover td {
  background:#80b3ff;
}

.myTable tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.myTable tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.myTable td {
  background:#FFFFFF;
  padding:20px;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.myTable td:last-child {
  border-right: 0px;
}

.myTable th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

.myTable th.text-right {
  text-align: right;
}

.myTable td.text-left {
  text-align: left;
}

.myTable td.text-center {
  text-align: center;
}

.myTable td.text-right {
  text-align: right;
}
